// Colors
$white: #ffffff;
$black: #000000;
$gray: #c4c4c4;
$lightGray: #f8f8f8;
$darkGray: #838383;
$seachGray: #2E2E2E;
$blue: #297bb2;
$green: #00DF16;
$sVip: #F4BF00;
$Vip: #F40049;

// Fonts
$font01: "Roboto", sans-serif;